body {
    background-color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: lightgray;
    width: 400px;
    height: 300px;
    top: 20%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: url(../img/login.jpg);
    background-size: cover;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: all 0.7s;
}

label {
    font-family: sans-serif;
}

.signup-btn {
    background-color: darkgray;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.input {
    border: 2px solid;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}

.input::placeholder {
    color: lightgray;
}